# Secrets
.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node / React
node_modules/
frontend/dist/

# Editors / IDE
.idea/
.vscode/
.DS_Store

# Logs
*.log

# local DB credentials
.env

# Claude
.claude

# local backup 
/bak/
